<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748172896008-pnsunt5pd1tjj3o9i1eh3q9k6ovqker2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748172896008-pnsunt5pd1tjj3o9i1eh3q9k6ovqker2</string>
	<key>API_KEY</key>
	<string>AIzaSyCxkAFy0X6n-U5BxjaxRu-s2NLb51kXXjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748172896008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kisilerUygulamasiFirebase</string>
	<key>PROJECT_ID</key>
	<string>kisileruygulamasifirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>kisileruygulamasifirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748172896008:ios:b8b114ac6aa8b515e06ebd</string>
</dict>
</plist>